/* RESET CSS START */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* RESET CSS END */

:root {
	--color-1: white;
	--color-2: #dbdbdb;
	--color-3: #c3c3c3;
}

html {
	font-size: calc(15px + 0.390625vw);
}

body {
	position: relative;
	font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
	background-image: linear-gradient(rgb(235, 235, 255), rgb(255, 232, 200));
}

h1 {
	margin-top: 2vh;
	text-align: center;
}

h2 {
	text-align: center;
	margin-bottom: 2vh;
}

button {
	border: none;
}

button:active {
	opacity: 0.7;
}

button:hover {
	border-bottom: solid 1px black;
}
sup {
	font-size: 50%;
}

.main-container {
	position: relative;
	display: grid;
	grid-template-rows: repeat(7, 4fr);
	grid-template-columns: repeat(4, 1fr);
	grid-gap: calc(2vh);
	width: 50%;
	max-width: 400px;
	height: 75vh;
	max-height: 700px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
	background-color: #efefef;
	padding: 1rem;
	box-shadow: 0 0 10px rgb(181, 181, 181);
	font-size: calc(4vh);
	overflow: hidden;
	transition: transform 0.5s;
	caret-color: transparent;
}
.info {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4vh;
	height: 4vh;
	top: 1rem;
	right: 3rem;
	padding: 0;
	margin: 0;
	border: 2px solid lightgrey;
	border-radius: 50%;
}
.info p {
	color: lightgrey;
	font-size: 3vh;
}

.info:hover {
	opacity: 0.7;
	cursor: pointer;
}

.display {
	position: relative;
	grid-column: 1/5;
	overflow: hidden;
	padding: calc(1vh);
	height: 19vh;

	background-image: linear-gradient(#c4e1fb, #ebebfc);
	font-size: calc(8vh);
	font-family: 'Staatliches', Montserrat, Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	text-align: right;
	letter-spacing: 2px;
	border-bottom: solid 3px #dedede;
}

.display-memory {
	position: absolute;
	font-size: 2vh;
	text-align: left;
	top: 0;
	left: 0;
}
.display-operation {
	font-size: 2vh;
}
.display-info {
	font-size: 2vh;
}

.color-1 {
	background-color: var(--color-1);
}

.color-2 {
	background-color: var(--color-2);
}

.color-3 {
	background-color: var(--color-3);
}

.rotation {
	transform: rotateY(180deg);
}
